body, html {
  font-family: "Neo", serif !important;
}

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#app {
  z-index: 100;
}

#mainCanvas {
  z-index: 50;
}

#backdoor {
  z-index: 10;
  background-color: black;
}