.container-client{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.target{
  background: rgb(20,76,132) !important;
  background: linear-gradient(0deg, rgba(20,76,132,1) 0%, rgba(24,24,24,0.95) 28%) !important;
  border: 1px solid rgba(20,76,132,1) !important;
}

.player-panels{
  display: flex;
  flex-direction: column;
  max-height: 250px;
  transform: scale(1);
  transform-origin: left top;
}

.player-panel{
  display: flex;
  flex-direction: row;
  margin-left: 12px;
  margin-top: 12px;
  padding: 8px;

  width: 320px;
  height: 100px;
  background: rgb(255,18,79);
  background: linear-gradient(0deg, rgba(116,22,46,1) 0%, rgba(24,24,24,0.95) 28%);

  border-radius: 4px;

  border: 1px solid rgba(116,22,46,1);

  .left-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;

    .avatar{
      border: 1px solid #151515;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: rgb(30, 30, 30);
    }

    .nickname{
      margin-top: 8px;
      color: #f5f5f5;
      font-size: 14px;
    }
  }

  .right-panel{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100px;
    padding-top: 6px;

    .point-panel{
      display: flex;
      flex-direction: column;

      .point-line{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 30px;
      }

      .h-point-text{
        width: 30px;
        color: #f5f5f5;
        font-size: 15px;
      }

      .e-point-text{
        width: 30px;
        color: #f5f5f5;
        font-size: 15px;
      }

      .h-point-back{
        position: relative;
        width: 180px;
        height: 24px;
        border: 1px solid rgb(21, 21, 21);
        border-radius: 2px;
        background: rgb(30, 30, 30);

        .h-point-bar{

          width: 50%;
          height: 100%;
          background-color: #ff124f;
          border-radius: 2px;

          .h-point-percent{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: absolute;
            width: 100%;
            color: #f5f5f5;
            font-size: 12px;
          }
        }
      }

      .e-point-back{
        position: relative;
        width: 180px;
        height: 24px;
        border: 1px solid rgb(21, 21, 21);
        border-radius: 2px;
        background: rgb(30, 30, 30);

        .e-point-bar{
          width: 15%;
          height: 100%;
          background-color: #defe47;
          border-radius: 2px;

          .e-point-percent{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: absolute;
            width: 100%;
            color: #f5f5f5;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.footer{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 1px;
}

.action-panel{
  display: flex;
  flex-direction: row;
  background-color: rgba(24,24,24,0.95);
  max-width: 100%;
  padding: 7px 4px;
  border: 1px solid rgba(116,22,46,1);
  border-radius: 4px;

  .action-player{
    background: rgb(30, 30, 30);
    width: 40px;
    height: 40px;
    margin: 0 3px;
    border-radius: 2px;
    border: 1px solid rgb(21, 21, 21);
  }
}

.modal_panel{
  position: relative;

  justify-content: center;

  display: flex;
  flex-direction: column;
  background-color: rgba(24,24,24,0.95);
  padding: 16px;
  width: 350px;
  max-height: 100%;
  border: 1px solid rgba(116,22,46,1);
  border-radius: 2px;

  margin: auto;
  bottom: 10%;

  .modal-node{
    margin-bottom: 16px;
  }

  .modal-node:last-child{
    margin-bottom: 0;
  }

  .label{
    color: white;
    margin-left: 2px;
    margin-bottom: 2px;
  }

  .text-box{

    transition: 0.2s;
    padding-left: 4px;
    padding-right: 4px;

    box-sizing: border-box;

    width: 100%;
    height: 35px;

    border: 1px solid rgb(21, 21, 21);
    background: rgb(30, 30, 30);
    outline: none;
    border-radius: 2px;

    color: white;

    &:focus{
      border: 1px solid rgba(116,22,46,1);
      background: rgb(30, 30, 30);
      border-radius: 2px;
      color: white;
    }

  }

}

.modal-button{
  width: 175px;
  height: 35px;
  color: white;
  background: #74162e;
  border: 1px solid rgba(116,22,46,1);

  margin: auto;

  outline: none;

  border-radius: 2px;
  cursor: pointer;

  transition: 0.2s;

  &:hover{
    background: #ff124f;
    border: 1px solid #ff124f;
  }

  &:active{
    transition: 0s;
    background: #74162e;
    border: 1px solid #ff124f;
  }

}



